body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #BAABDA, #FFFFFF);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;

}

a{
    text-decoration: none;
    color: black;
}